#top_header{
	background-color: #5271ff;
}
#main-body
{
    padding: 20px;
}
@media (min-width:992px)
{
    #main{
        padding: 20px;
        margin-left: 15%;
        margin-right: 15%;
        
    }
    #main #options{
        width: 100%;
        text-align: center;
    }

}
@media (min-width:320px) and (max-width:560px)
{
    #main{
        padding: 10px;
               
    }
    #main #options{
        width: 100%;
        text-align: center;
    }
}
@media (min-width:561px) and (max-width:991px)
{
    #main{
        padding: 20px;
               
    }
    #main #options{
        width: 100%;
        text-align: center;
    }
}
.searchBtnDiv{
   
    text-align: center;
    
}
#mandatory-msg{
    visibility: hidden;
}
.visit_counts
{
    
    background-color: yellow;
    width: max-content;
}
.linkBtn
{
    margin-top:50px;
    position: relative;
    padding: 5px 15px;
    visibility:hidden;
    color:white;
    background-color: #5271ff;
    top:50%;
/*    left:50%;*/
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#main input[name=place]
{
    width: 100%;
}


.social-footer {
  padding: 1rem;
  background: #2c3840;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 0.7rem;
  color: #fefefe;
}

.social-footer-left{
    font-size: 0.7rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}


.topbar-center-logo {
  background: #2c3840;
}

.topbar-center-logo .menu {
  background: #2c3840;
}

.topbar-center-logo .menu a {
  color: #fefefe;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: #2c3840;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}



